<h1>Topics List</h1>

<button><%= link_to "New Topic", new_topic_path %></button><br>
<br>

<table class="table">
  <tr>
    <th>Title</th>
    
    <th colspan="4"></th>
  </tr>

  <% @topics.each do |topic| %>
  <tr>
    <td><%= topic.title %></td>
    <td><%= link_to 'Show', topic_path(topic) %></td>
    <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
    <td><%= link_to 'Delete', topic_path(topic),
                method: :delete,
                data: { confirm: "Are you sure?" } %></td>
  </tr>
  <% end %>
</table>
