<%= form_with(model: [@topic, @topic.objectives.build],
local: true) do |form| %>
<p>
<%= form.label :title %><br>
<%= form.text_field :title %>
</p>

<p>
  <%= form.label :details %><br>
  <%= form.text_area :details %>
</p>
<p>
<%= form.submit %>
</p>
<% end %>
